<!-- <ion-header>
  <ion-toolbar>
    <ion-title>categoria</ion-title>
  </ion-toolbar>
</ion-header> -->

<app-header titulo='Categoria' backTo="/categorias">
</app-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{produto.tituloCategoria}}</ion-card-title>
    </ion-card-header>
    <br>
    <ion-card-content class="ion-text-center">
      <ion-label>
      <h1 class="ion-text-wrap">{{produto.nome}}</h1>
      </ion-label>
      <br>
        <img [src]="produto.imagem" />
        <br><br>
      <h2><strong>Detalhes</strong></h2>
      {{produto.detalhes}}
      <br><br>
      <ion-label>
        <h2>Somente R$ xx,99</h2>
      </ion-label>
    </ion-card-content>
  </ion-card>

</ion-content>
<app-footer> </app-footer>