<!-- <ion-header>
  <ion-toolbar>
    <ion-title>categoria</ion-title>
  </ion-toolbar>
</ion-header> -->

<app-header titulo='Categoria' backTo="/categorias">
</app-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Categoria</ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-text-center">
      <ion-label>
        <h1 class="ion-text-wrap">Nome do Produto</h1>
      </ion-label>
      <img src="https://ichef.bbci.co.uk/food/ic/food_16x9_832/recipes/sardinesca_94123_16x9.jpg" />
      <br>
      <h2><strong>Detalhes</strong></h2>
      Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin
      Territory in 1836.
      <br><br>
      <ion-label>
        <h2 >Somente R$ xx,99</h2>
      </ion-label>
    </ion-card-content>
  </ion-card>

</ion-content>