ion-content ion-card ion-card-header{
  padding-bottom: 5px;
}

ion-content ion-card ion-card-content ion-slides{
  // background-color: red;
  margin: 0px -27px 26px -27px;
  // padding: 0px 0px ;
}

ion-content ion-card ion-card-content ion-slides ion-slide{
  // background-color: yellow;
}

ion-content ion-card ion-card-content ion-tabs{
  // background-color: green;
  margin-top:11px;
}

ion-content ion-card ion-card-content ion-tabs ion-tab-bar{
  height: 102px;
  // padding-top: 20px;
}

ion-content ion-card ion-card-content ion-tabs ion-tab-bar ion-tab-button{
  // height: 200px;
}

ion-img{
  
  height: 40px;
}

.tabButtonSelected{
  background-color: rgba(200,10,10,0.1); 
}

.tab-item.button-entrada.tab-item-active, .tab-item.button-entrada.active, .tab-item.button-entrada.activated {
  color: red !important;
  background-color: red;
}

.tab-item.button-PratoRefeicao.tab-item-active, .tab-item.button-PratoRefeicao.active, .tab-item.button-PratoRefeicao.activated {
  color: yellow !important;
  background-color: yellow;
}

.tab-item.button-Sobremesa.tab-item-active, .tab-item.button-Sobremesa.active, .tab-item.button-Sobremesa.activated {
  color: green !important;
  background-color: green;
}