<app-header>
</app-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Prato do dia</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-slides class="ion-text-center" #slidesPratos (ionSlideDidChange)="slideChanged($event)">
        <ion-slide *ngFor="let produto of produtosPratoDoDia | async" class="slide-entrada">
          <ion-card>
            <ion-card-content>
              <ion-label>
                <h1 class="ion-text-wrap">{{produto.nome}}</h1>
                <ion-card-subtitle class="ion-text-wrap">{{produto.tipo}}</ion-card-subtitle>
              </ion-label>
              <br>
              <img [src]="produto.imagem" />
              <br>
              <h2><strong>Detalhes</strong></h2>
              {{produto.detalhes}}
            </ion-card-content>
          </ion-card>
        </ion-slide>
      </ion-slides>
      <br><br>
      <ion-tabs>
        <ion-tab-bar>
          <ion-tab-button [ngClass]="" (click)="changeSlide(0)">
            <ion-img src="../../assets/icon/fitness.svg"></ion-img>
            <ion-label>Entrada</ion-label>
          </ion-tab-button>

          <ion-tab-button (click)="changeSlide(1)">
            <ion-img src="../../assets/icon/almoco.svg"></ion-img>
            <ion-label>Prato de Refeição</ion-label>
          </ion-tab-button>

          <ion-tab-button (click)="changeSlide(2)">
            <ion-img src="../../assets/icon/pudim.svg"></ion-img>
            <ion-label>Sobremesa</ion-label>
          </ion-tab-button>
        </ion-tab-bar>
      </ion-tabs>
    </ion-card-content>
  </ion-card>
  <br>
  <ion-label class="ion-text-center">
    <h1>Somente R$ 12,99</h1>

  </ion-label>

</ion-content>
<app-footer> </app-footer>